@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Plugins */



/* Blocks */

body, ul, ol, li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
}

body {
  display: flex;
  flex-direction: column;
}

@import './src/blocks/Header/Header';
@import './src/blocks/portfolio/portfolio';
@import './src/blocks/personal/personal';
@import './src/blocks/skills/skills';
@import './src/blocks/education/education';
@import './src/blocks/hobby/hobby';