mixin skills(modifier)
  section.skills&attributes(attributes)
    .skills__area
      .skills__chapter
        include img/skills_gear.svg
        h2.skills__name Навыки
      .skills__circle
        .skills__test: include img/skills_html.svg
        include img/skills_css.svg
        include img/skills_js.svg
        include img/skills_git.svg
        
        // вернусь к кружочкам позже	