.skills {     
   
    &__area {
        width: 100%;
        max-width: 1280px;
        padding: 0 0 62px 660px;
        color: var(--text-color);
        background-color: var(--bkg-color);
    }

    &__chapter {
        margin-bottom: 44px;
        display: flex;
        border-bottom: var(--border);
        width: 252px;
        padding-bottom: 12px;

        svg {
            fill: var(--black-blue);
            opacity: 1;
        }
    }

    &__name {
        margin-left: 15px;
        font-weight: 700;
        font-size: px-to-em(26);
        line-height: lh-to-per(30, 26);
    }

    &__circle {
        display: flex;
        justify-content: space-between;
        svg {
            fill: var(--black-white);
            opacity: 1;
        }
    }

    &__test {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: background 3s;
        // background: 
        //   radial-gradient(closest-side, white 93%, transparent 80% 100%),
        //   conic-gradient(#56DCFF 85%, transparent 0%, rgba(31, 34, 31, 0.45) 15% );    
        background: var(--bkg-skills); 
    }

    &__test2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: background 3s;
        background: var(--bkg-skills2); 
    }

    &__test3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: background 3s;
        background: var(--bkg-skills3); 
    }

    &__test4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: background 3s;
        background: var(--bkg-skills4); 
    }


    @media screen and (max-width: 1201px) {
        &__area {
            padding: 0 60px 52px 600px;
        }
    }

    @media screen and (max-width: 991px) {
        &__area {
            padding: 0 40px 52px 460px;
        }

        &__name {
            font-size: px-to-em(22);
            line-height: lh-to-per(25, 22);
        }
    }

    @media screen and (max-width: 768px) {
        &__area {
            padding: 0 20px 52px 340px;
        }
    }

    @media screen and (max-width: 480px) {
        &__area {
            padding: 0 20px 52px 20px;
        }

        &__chapter {
            margin-bottom: 34px;
        }

        &__name {
            font-size: px-to-em(18);
            line-height: lh-to-per(21, 18);
        }

        &__circle { 
            svg {
                width: 40px;
                height: 40px;
            }
        }

        &__test, &__test2, &__test3, &__test4 {
            width: 75px;
            height: 75px;
        }
    }
   

}
