mixin header(modifier)
  header.header&attributes(attributes)
    +portfolio
    .header__area
      
      nav.header__contact
        .header__address
          .header__icon: include img/call.svg
          a.header__info(href='tel:+79998765432') +7 (999) 876 54 32 
        .header__address
          .header__icon: include img/mail.svg
          a.header__info(href='mailto:primer_examen@yandex.ru') primer_examen@yandex.ru
        .header__address
          .header__icon: include img/global.svg
          a.header__info(href='#') г.Санкт-Петербург
      .header__resume
        .header__symbol: include img/kwork.svg
        a.header__kwork(href='#') KWORK
        a.header__download(href='#') Скачать резюме 
          include img/download.svg

