.header {
    display: flex;
    margin-bottom: -1400px;
    
    &__area {
        width: 100%;
        max-width: 660px;
        margin: 54px 0 0 52px;
        display: flex;
        justify-content: space-between;
    }

    &__address {
        margin: 30px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    &__info {
        margin-left: 22px;
        font-weight: 700;
        font-size: px-to-em(16);
        line-height: lh-to-per(19, 16);
        color: #000000;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: #56DCFF;
            opacity: 1;
            text-decoration: underline;
        }
    }

    &__resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        //margin-right: 120px;
    }

    &__symbol {
        margin: -10px 0 10px;

        svg {
            fill: black;
            opacity: 1;
    
            &:hover {
                fill: #56DCFF;;
                opacity: 1;
            }
        }
    }

    &__kwork {
        min-width: 285px;
        min-height: 63px;
        padding: 18px 108px;
        margin-bottom: 34px;
        font-weight: 700;
        font-size: px-to-em(22);
        line-height: lh-to-per(26, 22);
        border-radius: 50px;
        background: #D9D9D9;
        color: #000000;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: #56DCFF;
            opacity: 0.7;
            text-decoration: underline;
        }
    }

    &__download {
        min-width: 147px;
        min-height: 31px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: px-to-em(12);
        line-height: lh-to-per(14, 12);
        color: #2A2D36;
        background: #D9D9D9;
        border-radius: 50px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: #56DCFF;
            opacity: 0.7;
            text-decoration: underline;
            fill: #56DCFF;;
        }
    }

}
