mixin education(modifier)
  section.education&attributes(attributes)
    .education__area
      .education__chapter
        include img/education_flask.svg
        h2.education__name Образование
      ul.education__list
        li.education__item
          p.education__inst Гильдия Фронтов (2022 - наст.время)
          p.education__text В команде опытных верстальщиков проходит изучение на практике технологий веб-разработки, HTML и CSS, основы JS. Создание семантической разметки по макету из Figma. Адаптивная вёрстка сайта, подключение векторных изображений и нестандартных шрифтов. Использование селекторов и псевдоэлементов.
        li.education__item
          p.education__inst HTML Academy (2022)
          p.education__text Старт в программировании. HTML и CSS, верстка по макету, знакомство с JS.
        li.education__item
          p.education__inst Санкт-Петербургский политехнический университет Петра Великого  (2010-2016)
          p.education__text Специальность «Бухгалтерский учёт, анализ и аудит» по направлению «Экономика». Комплекс знаний в области бухгалтерского, финансового, управленческого и налогового учёта, анализа финансово-хозяйственной деятельности организаций, учёта, анализа и аудита внешнеэкономической деятельности, судебно-бухгалтерской экспертизы, внутреннего и внешнего аудита, автоматизированной обработки данных, статистики, налогов и налогообложения, анализа банкротств, микро- и макроэкономики, финансов и т.д.
        
